/* 全局公共scss */

body{
	background-color: #fff !important;
}
.container{
}
.sunMainBox{
	background-color: #fff !important;
	padding-bottom: 120rpx !important;
}
.mainBox{
	background-color: #fff;
	padding-bottom: 120rpx !important;
}
.noNavMainBox{
	background-color: #fff !important;
}
.nMainBox{
	background-color: #282828 !important;
}

.theme{
	background-color: #fff;
}
.nTheme{
	background-color: #303030;
}
.bdt{
	border-top: 1px solid #d9d9d9;
}
.nbdt{
	border-top: 1px solid #383838;
}

.vheight{

}
text{
	font-weight: 400;
}

.uni-page-head-ft{
	margin-right: 10rpx;
}
input{
	 padding-left: 10rpx;
	 color: #666 !important;
}

.uniBtn{
	position: fixed;
	bottom: 30rpx;
	left: 0;
	right: 0;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 600rpx;
	height: 80rpx;
	color: #fff;
	border-radius: 6rpx;
	background-color: #b8393c;
}