/* 全局公共css */
body{
	background-color: #282828;
}
.sunMainBox{
	background-color: #fff !important;
	padding-bottom: 120rpx !important;
}
.mainBox{
	background-color: #282828;
	padding-bottom: 120rpx !important;
}
.noNavMainBox{
	background-color: #282828;
}
.vheight{

}
text{
	font-weight: 400;
}

.uni-page-head-ft{
	margin-right: 10rpx;
}
input{
	 padding-left: 10rpx;
	 color: #fff;
}
